@inherits LayoutComponentBase
@using FISTNESSGYM.Services
@inject CookieThemeService CookieThemeService
@inject AuthorizationService AuthorizationService


<RadzenComponents />

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0" style="background-color: #000000;">
            <RadzenColumn Size="5">
                <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem" class="">
                    @*<RadzenAppearanceToggle @bind-Value="@isDarkMode" />*@
                    @if (AuthorizationService.IsUser || AuthorizationService.IsClient)
                    {
                        <RadzenButton Icon="notifications" Click="@ToggleNotificationsPanel" />
                        @if (showNotificationsPanel)
                        {
                            <div class="rz-panel rz-shadow-md" style="position: fixed; top: 60px; right: 20px; width: 600px; max-height: 500px; overflow-y: auto;">
                                <div class="rz-panel-title" style="text-align: center; padding: 5px;">
                                    <RadzenText Text="Powiadomienia" TextStyle="TextStyle.H5" TagName="TagName.H4" />
                                </div>
                                @if (notifications.Any())
                                {
                                    @foreach (var notification in notifications)
                                    {
                                        <div class="rz-panel-content rz-border-bottom" style="display: flex; align-items: center; padding: 10px;">
                                            <RadzenIcon Icon="notifications" Style="margin-right: 10px; flex-shrink: 0; font-size: 24px; color: gray;" />
                                            <div style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center;">
                                                <RadzenText Text="@notification.Title" TextStyle="TextStyle.Body1" />
                                                <RadzenText Text="@notification.CreatedAt.ToString("dd.MM.yyyy HH:mm")" TextStyle="TextStyle.Caption" />
                                            </div>
                                            <RadzenIcon Icon="close"
                                                        Style="cursor: pointer; color: gray; font-size: 20px;"
                                                        @onclick="(() => RemoveNotification(notification))" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="rz-panel-content rz-text-center">
                                        <RadzenText Text="Brak powiadomień" TextStyle="TextStyle.Body1" />
                                    </div>
                                }
                            </div>
                        }
                    }
                    <RadzenProfileMenu Visible="@Security.IsAuthenticated()" Click="@ProfileMenuClick" Style="background-color: #000000" >
                        <ChildContent> 
                            @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer)
                            {
                                @if (AuthorizationService.IsUser || AuthorizationService.IsClient)
                                {
                                    <RadzenProfileMenuItem Path="settings/profile" Icon="person" Text="Profil" />
                                    <RadzenProfileMenuItem Path="settings/subscription/status" Icon="universal_currency" Text="Subskrypcja" />
                                    @* <RadzenProfileMenuItem Icon="notifications" Text="Powiadomienia" /> *@

                                    @if (AuthorizationService.IsClient)
                                    {
                                        <RadzenProfileMenuItem Icon="shopping_cart" Text="Koszyk" Path="/store/cart"/>
                                    }
                                    
                                }

                                @if (AuthorizationService.IsWorker)
                                {
                                    <RadzenProfileMenuItem Path="settings/profile" Icon="person" Text="Profil" />
                                    <RadzenProfileMenuItem Icon="notifications" Text="Powiadomienia" />
                                }

                                @if (AuthorizationService.IsTrainer)
                                {
                                    <RadzenProfileMenuItem Path="settings/profile" Icon="person" Text="Profil" />
                                    <RadzenProfileMenuItem Icon="notifications" Text="Powiadomienia" />
                                }
                            }
                            <RadzenProfileMenuItem Text="Wyloguj się" Value="Logout" Icon="power_settings_new" />
                        </ChildContent>
                        <Template>
                            @Security.User?.Name
                            <RadzenGravatar Email="@Security.User?.Name" />
                        </Template>
                    </RadzenProfileMenu>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded">
        <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="max-width: 1440px;">
            <RadzenColumn Size="12">
            @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
    <RadzenSidebar Expanded="@sidebarExpanded" style="z-index: 2; width: 258px">
        <RadzenStack AlignItems="Radzen.AlignItems.Center" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border); height: 81px">
            <RadzenImage Path="@GetLogoPath()" style="width: 251px; height: 83px; float: none; visibility: visible" AlternateText="" />
        </RadzenStack>

        <RadzenPanelMenu>
            @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
            {
                <RadzenPanelMenuItem Text="Strona główna" Icon="home" Path="" />
            }
        </RadzenPanelMenu>
        
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Trening" Icon="calendar_month">
                @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="training/calendar" Icon="calendar_month" Text="Kalendarz" />
                }
                @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="training/classes" Icon="sports_gymnastics" Text="Zajęcia" />
                }
                @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Icon="exercise" Text="Plany treningowe">
                        @if (AuthorizationService.IsClient || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
                        {
                            <RadzenPanelMenuItem Text="Moje ćwiczenia" Path="training/workout-exercises" Icon="sports_gymnastics" />
                        }
                        @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
                        {
                            <RadzenPanelMenuItem Text="Ćwiczenia" Path="training/exercises" Icon="fitness_center" />
                        }
                        @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
                        {
                            <RadzenPanelMenuItem Text="Plany treningowe" Path="training/workout-plans" Icon="exercise" />
                        }
                    </RadzenPanelMenuItem>
                }
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>

        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Sklep" Icon="store">
                @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
                {
                    @if (AuthorizationService.IsClient)
                    {
                        <RadzenPanelMenuItem Path="store/cart" Icon="shopping_cart" Text="Koszyk" />
                    }
                    
                    <RadzenPanelMenuItem Path="store/products-catalog" Icon="category" Text="Katalog produktów" />
                }
                @if (AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="store/orders" Icon="orders" Text="Zamówienia" />
                }
                @if (AuthorizationService.IsWorker || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="store/products" Icon="add_business" Text="Zarządzanie produktami" />
                    <RadzenPanelMenuItem Path="store/product-categories" Icon="loyalty" Text="Kategorie" />
                }
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>

        <RadzenPanelMenu>
            @if (AuthorizationService.IsWorker || AuthorizationService.IsAdmin)
            {
                <RadzenPanelMenuItem Path="analytics/sales-dashboard" Icon="price_check" Text="Analityka sklepu" />
            }
            @if (AuthorizationService.IsClient)
            {
                <RadzenPanelMenuItem Path="analytics/training-dashboard" Icon="trending_up" Text="Analityka treningu" />
            }
            @if (AuthorizationService.IsTrainer)
            {
                <RadzenPanelMenuItem Path="analytics/training-dashboard" Icon="trending_up" Text="Analityka treningu" />
            }
        </RadzenPanelMenu>


        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Ustawienia" Icon="settings">
                @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsTrainer)
                {
                    <RadzenPanelMenuItem Path="settings/profile" Icon="person" Text="Profil" />
                }

                @if (AuthorizationService.IsClient || AuthorizationService.IsWorker || AuthorizationService.IsTrainer || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="settings/measurement" Icon="straighten" Text="Pomiary" />
                    
                }
                @if (AuthorizationService.IsAdmin || AuthorizationService.IsWorker)
                {
                    <RadzenPanelMenuItem Path="settings/subscriptions" Icon="clear_all" Text="Lista subskrypcji" />
                }

                @if (AuthorizationService.IsUser || AuthorizationService.IsClient || AuthorizationService.IsWorker)
                {
                    <RadzenPanelMenuItem Icon="universal_currency" Text="Subskrypcja">
                        @if (AuthorizationService.IsUser || AuthorizationService.IsClient)
                        {
                            <RadzenPanelMenuItem Path="settings/subscription/status" Icon="universal_currency" Text="Status karnetu" />
                        }
                        @if (AuthorizationService.IsUser || AuthorizationService.IsClient)
                        {
                            <RadzenPanelMenuItem Path="settings/subscription/purchase" Icon="settings_accessibility" Text="Pakiety" />
                        }
                    </RadzenPanelMenuItem>
                }

                @if (AuthorizationService.IsWorker || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="settings/application-users" Icon="group" Text="Użytkownicy" />
                }

                @if (AuthorizationService.IsWorker || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="settings/asp-net-users" Icon="groups" Text="Użytkownicy szczegółowo" />
                }

                @if (AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="settings/application-roles" Icon="badge" Text="Role" />
                }

                @if (AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="settings/logs" Icon="code" Text="Logi" />
                }
                @if (AuthorizationService.IsWorker || AuthorizationService.IsAdmin)
                {
                    <RadzenPanelMenuItem Path="notifications/notificationspanel" Icon="notifications" Text="Panel powiadomień" />
                }
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
</RadzenLayout>

